apiVersion: apps/v1
kind: Deployment
metadata:
  name: journal-app
  labels:
    app: journal
spec:
  replicas: 2
  selector:
    matchLabels:
      app: journal
  template:
    metadata:
      labels:
        app: journal
    spec:
      containers:
      - name: journal
        image: abhi05sep/journal-app:v3
        ports:
        - containerPort: 5000

        livenessProbe:
          httpGet:
            path: /healthz
            port: 5000
          initialDelaySeconds: 1
          periodSeconds: 2
          failureThreshold: 1

        readinessProbe:
          httpGet:
            path: /readyz
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5

        resources:
          requests:
            cpu: "250m"
            memory: "64Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
